:root {
    --dark-background: #1F2937;
    --main-text: #F9FAF8;
    --secondary-text: #E5E7EB;
    --btn-color: #3882F6;
    --info-main: #1F2937;
    --frase-background: #E5E7EB;
    --frase-texto: #1F2937;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: var(--dark-background);
}
.nav,
.hero {
    margin: 0 100px;
}
.nav {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.logo {
    color: var(--main-text);
    font-size: 24px;
    font-weight: 700;
}

.enlaces ul{
    display: flex;
    gap: 8px;
}

.enlaces a {
    color: var(--secondary-text);
    font-size: 18px;
}