:root {
    --dark-background: #1F2937;
    --main-text: #F9FAF8;
    --secondary-text: #E5E7EB;
    --btn-color: #3882F6;
    --info-main: #1F2937;
    --frase-background: #E5E7EB;
    --frase-texto: #1F2937;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}